body{color: #000;overflow-x: hidden;height: 100%;background-repeat: no-repeat;background-size: 100% 100%}.card{padding: 30px 40px;margin-top: 60px;margin-bottom: 60px;border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}.blue-text{color: #00BCD4}.form-control-label{margin-bottom: 0}input, textarea, button{padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300}input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}.btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}.btn-block:hover{color: #fff !important}button:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;outline-width: 0}




/* product details */


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* body{
    background-color: #000;
} */
.container{
    width: 80%;
    border: 1px solid;
    margin: auto;
    background-color: #fff;
}

.header{
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.search-box{
    border: 1px solid #666;
    padding: 3px;
    border-radius: 2px;
}

.search-box input{
    border: none;
    outline: none;
    padding: 0 5px;
    color: #666;
}

.nav{
    height: 40px;
    background-color: lightgray;
}

.nav ul li{
    display: inline;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.nav ul li a{
    text-decoration: none;
    line-height: 40px;
    color: #333;
    font-size: 13px;
    font-weight: 700;
}

.nav ul li:hover{
    background-color: darkcyan;
}

.nav ul li:hover a{
    color: #fff;
}

.product{
    display: flex;
    padding: 25px;
}

.images{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.slider{
    width: 100%;
    height: 400px;
    border: 3px solid;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.slider img{
    height: 100%;
}

.thumbnail{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
}

.thumb{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 3px solid;
}

.active{
    border-color: darkcyan;
}

.thumb img{
    height: 100%;
}

.info{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.rating{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.rating h4, .rating a{
    font-size: 13px;
    color: darkcyan;
    font-weight: 200;
}

.rating a{
    text-decoration: none;
    margin-left: 25px;
}

.price{
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.title{
    font-size: 15px;
}

.colors{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.color{
    width: 30px;
    height: 20px;
    border: 1px solid gray;
    margin-right: 20px;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: deeppink;
}

.sizes{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.size{
    width:40px;
    height: 25px;
    border: 1px solid gray;
    background-color: lightgray;
    margin-right: 20px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}

.qty{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 40px;
    height: 25px;
    text-align: center;
    outline: none;
}

.addtocart{
    padding: 15px 20px;
    background-color: darkcyan;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.5s ease;
    text-align: center;
}

/* .cart:hover{
    background-color: gray;
    color: #000;
} */

@media (max-width:900px){
    .nav{
        height: 320px;
    }
    
    .nav ul li{
        display: block;
        text-align: center;
        padding: 0;
    }
}

@media (max-width:750px){
    .product{
        flex-direction: column;
        width: 100%;
    }
    
    .product > div{
        width: 100%;
    }
    
    .info{
        margin-top: 25px;
    }
}





div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }
  input.error {
    border: 1px solid var(--error);
  }






/* cart */

.allcart{
    background: #ddd;
    min-height: 100vh;
    vertical-align: middle;
   
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}
.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    max-width: 1600px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
    color: #000;
}
.summary .col-10
{
    padding: 0;
    color: #000;
}.row{
    margin: 0;
    color: #000;
}
.title b{
    font-size: 1.5rem;
}
/* .main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
} */
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
/* img{
    width: 3.5rem;
} */
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn-pay{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.btn-pay:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
   
    transition: none; 
}
.btn-pay:hover{
    color: white;
}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

























